canvas {
    border: 10px outset rgb(0, 47, 255);
    border-radius: 20px;
    margin-top: 110px;
    box-shadow: 5px 5px 18px rgb(255, 255, 255);
    margin-bottom: 30px;
}

.holding_status_div {
    background:rgb(0, 47, 255);
    width: 50%;
    height: 55px;
    font-size: 17px;
    border-radius: 20px;
    color:white;
}